.vscode
Assignment1/mystring/mystring.o
Assignment1/mystring/test_mystring
Assignment1/mystring/test_mystring.o
Assignment1/list/list.o
Assignment1/list/test_list
Assignment1/list/test_list.o
Assignment2/shell
Assignment2/shell.o
Assignment2/helpers.o
Assignment2/history.o
Assignment3/bbuff.o
Assignment3/candykids.o
Assignment3/candykids
Assignment3/stats.o